  .style1
        {
            width: 950px;
        }
        .style3
        {
            width: 209px;
            background-color:Gray;
            height: 62px;
        }
        .style7
        {}
        .style9
        {
            height: 23px;
        }
        .style10
        {
            width: 210px;
            background-color:Gray;
            height: 62px;
        }
        .style11
        {
            background-color:Gray;
            height: 62px;
        }
        .style12
        {
            font-weight: bolder;
            font-size: large;
            background-color:Gray;
            color:red;
        }
        .style14
        {
            background-color:Gray;
            width: 153px;
            height: 62px;
        }
             .adminpan1
        {
            width: 100%;
        }