     .carts1
        {
            width: 100%;
        }
        .carts2
        {
            height: 165px;
        }
             .pass1
        {
            width: 100%;
        }
        .pass2
    {
        width: 247px;
    }
           .contact1
        {
            width: 213px;
            
        }
                 .home1
        {
            width: 316px;
        }
        .home2
        {
            width: 100%;
        }
             .approved1
        {
            height: 23px;
            text-align:center;
        }
        .login1
        {
            width: 305px;
            height: 31px;
        }
        .login2
        {
            width: 211px;
        }
            .mc1
    {
        width: 100%;
    }
    .mc2
    {
        color:#000000;
        font-family:Arial;
    }
           .mcup1
        {
            width: 292px;
        }
        .mcup2 {
            width: 292px;
            height: 23px;
        }
          .master1
        {
            width: 950px;
            height: 283px;
        }
        .master2
        {
            color: #FF3300;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        .master3
        {
            font-family: Arial, Helvetica, sans-serif;
        }
        .master4
        {
            width: 100%;
            height: 44px;
        }
        .master5
        {
            width: 235px;
            background-color:#000000;
        }
        .master6
        {
            width: 239px;
            background-color:#000000;
        }
        .master7
        {
            width: 219px;
            background-color:#000000;
        }
        .master8
        {
            width: 1626px;
        }
        .master9
        {
            height: 212px;
            width: 1626px;
        }
        .master10
        {
            width: 266px;
            background-color:#000000;
        }
        .master11
        {
            width: 177px;
            background-color: #000000;
        }
        .master12
        {
            color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
            .prod1
        {
            width: 100%;
        }
        .prod2
        {
            width: 227px;
            font-family:Arial;
            font-weight:bold;
        }
            .produp1
    {
        width: 100%;
    }
    .produp2
    {
        height: 30px;
    }
       .subcat1
    {
        width: 100%;
    }
           .contactus1
    {
        width: 100%;
    }
                   .sdirect1
        {
            width: 100%;
        }
        .sdirect2
        {
            width: 137px;
        }
    .sdirect3
    {
        width: 137px;
        color: #FFFFFF;
    }
         .sup1
        {
            width: 467px;
        font-family: Arial, Helvetica, sans-serif;
    }
        .sup2
        {
    }
        .sup3
    {
            width: 376px;
        }
    .sup4
    {
        width: 200px;
    }
        .sup5
        {
            width: 197px;
        }
          .subc1
    {
        width: 100%;
    }
    .subc2
    {
        width: 328px;
    }